html {
    margin: 0;
    padding: 0;
    background-image: url('./media/Background.png');
    background-size: cover; 
    background-position: center; 
    font-family: Arial, sans-serif; 
  }
  
  body {
    background-image: url('./media/Background.png');
    margin: 0;
    padding: 0;
  }
  